/* Texto */
/* Azul */
.text-blue {
    color: #4630DD;
}

/* Naranja */
.text-orange {
    color: #d33900;
}

/* Teal */
.text-teal {
    color: #0E887F;
}

/* Purple */
.text-purple{
    color: #a64bf3;
}


/* Fondo */
/* Azul */
.bg-blue {
    background-color: #4630DD;
}

/* Naranja */
.bg-orange {
    background-color: #d33900;
}

/* Teal */
.bg-teal {
    background-color: #0E887F;
}


/* Fondo Degradado */
/* Azul */
.bg-gradient-blue {
    background: linear-gradient(135deg, rgba(79, 57, 246, 0.5) 0%, rgba(68, 45, 216, 1) 100%);
}

/* Verde */
.bg-gradient-green {
    background: linear-gradient(135deg, rgba(0, 173, 65, 0.5) 0%, rgba(0, 191, 75, 1) 100%);
}

/* Rosa */
.bg-gradient-pink {
    background: linear-gradient(135deg, rgba(173, 0, 144, 0.5) 0%, rgb(175, 0, 191) 100%);
}

/* Cyan */
.bg-gradient-cyan {
    background: linear-gradient(135deg, rgba(37, 116, 254, 0.7), rgba(20, 76, 232, 1));
}

/* Morado */
.bg-gradient-purple {
    background: linear-gradient(135deg, rgba(166, 63, 255, 0.7), rgba(136, 13, 224, 1));
}

/* Gris */
.bg-gradient-gray {
    background: linear-gradient(135deg, rgba(209, 209, 209, 0.7), rgb(119, 119, 119));
}

/* Naranja */
.bg-gradient-orange {
    background: linear-gradient(135deg, rgba(250, 96, 0, 0.8), rgba(209, 59, 0, 1));
}

/* Turquesa */
.bg-gradient-teal {
    background: linear-gradient(135deg, rgba(0, 180, 161, 0.5), rgba(0, 127, 117, 1));
}


/* Animaciones */
/* Carta */
.menu-card {
    display: block;
}

/* Carta Hover */
.card-hover {
    border: 2px solid transparent;
    transition:
        transform 0.25s ease,
        border-color 0.25s ease,
        box-shadow 0.25s ease;
    transform-origin: center;
}

/* Carta Colores */
.menu-card:hover .card-hover {
    transform: scale(1.08);
    border-color: var(--hover-color);
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.12);
}

/* Boton Atras */
.boton-desplegable {
    display: inline-flex;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    border: 1px solid #dee2e6;
    border-top-right-radius: 50rem;
    border-bottom-right-radius: 50rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease-in-out;
}

/* Ajuste del icono */
.boton-desplegable i {
    font-size: 1.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 0;
}

/* Estado Incial */
.boton-desplegable .texto-animado {
    max-width: 0;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    transition: max-width 0.3s ease-in-out, margin-left 0.3s ease-in-out;
}

/* Efecto */
.boton-desplegable:hover {
    color: #2563eb;
    border-color: #bfdbfe;
}

/* Despiegue */
.boton-desplegable:hover .texto-animado {
    max-width: 100px;
    margin-left: 0.5rem;
}